@font-face {
  font-family: 'SailRegular';
  src: url("fonts/sali/Sail-Regular-webfont.eot");
  src: url("fonts/sali/Sail-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sali/Sail-Regular-webfont.woff") format("woff"), url("fonts/sali/Sail-Regular-webfont.ttf") format("truetype"), url("fonts/sali/Sail-Regular-webfont.svg#SailRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GabrielaRegular';
  src: url("fonts/gabriela/Gabriela-Regular.woff") format("woff"), url("fonts/gabriela/Gabriela-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 20, ../sass/custom.scss */
a, a:hover, a:active, a:focus {
  color: #007375;
}

/* line 24, ../sass/custom.scss */
aside, aside a, aside a:hover, aside a:active, aside a:focus {
  background: #0039ff;
  color: #2bfefe;
}

/* line 29, ../sass/custom.scss */
.vcard {
  border: 0px solid #DDDDDD;
  display: inline-block;
  margin: 0 0 1.25em;
  padding: 0.625em 0;
}

/*
h1 small {
  font-family: "GabrielaRegular", "Times New Roman", Times, serif;
}
*/
/* line 42, ../sass/custom.scss */
.image {
  position: relative;
  width: 100%;
  /* for IE 6 */
}

/* line 47, ../sass/custom.scss */
.overImage {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 90%;
}

/* line 54, ../sass/custom.scss */
.overImage span {
  /* color: white; */
  font-family: 'SailRegular', "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.67;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

/* line 65, ../sass/custom.scss */
.blue {
  color: LightBlue;
}

/* line 68, ../sass/custom.scss */
.green {
  color: LightGreen;
}

/* line 71, ../sass/custom.scss */
.yellow {
  color: yellow;
}

/* line 74, ../sass/custom.scss */
.white {
  color: white;
}

/* line 77, ../sass/custom.scss */
.orangeRed {
  color: OrangeRed;
}

/* line 80, ../sass/custom.scss */
.violet {
  color: violet;
}
