@charset "UTF-8";
@font-face {
  font-family: 'SailRegular';
  src: url("fonts/sali/Sail-Regular-webfont.eot");
  src: url("fonts/sali/Sail-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sali/Sail-Regular-webfont.woff") format("woff"), url("fonts/sali/Sail-Regular-webfont.ttf") format("truetype"), url("fonts/sali/Sail-Regular-webfont.svg#SailRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GabrielaRegular';
  src: url("fonts/gabriela/Gabriela-Regular.woff") format("woff"), url("fonts/gabriela/Gabriela-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 22, ../sass/custom.scss */
a, a:hover, a:active, a:focus {
  color: #8e3efe;
}

/* line 26, ../sass/custom.scss */
aside, aside a, aside a:hover, aside a:active, aside a:focus, .side-nav li a {
  background: #8e3efe;
  color: #e7d6ff;
}

/* line 31, ../sass/custom.scss */
ul, ol, dl {
  margin-left: 1.125em;
}

/* line 35, ../sass/custom.scss */
.vcard {
  border: 0px solid #DDDDDD;
  display: inline-block;
  margin: 0 0 1.25em;
  padding: 0.625em 0;
}

/*
h1 small {
  font-family: "GabrielaRegular", "Times New Roman", Times, serif;
}
*/
/* line 48, ../sass/custom.scss */
.image {
  position: relative;
  width: 100%;
  /* for IE 6 */
}

/* line 53, ../sass/custom.scss */
.overImage {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 90%;
}

/* line 60, ../sass/custom.scss */
.overImage span {
  /* color: white; */
  font-family: 'SailRegular', "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.67;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* bilder links floaten */
/* line 72, ../sass/custom.scss */
img.left {
  float: left;
  margin-right: 1.5em;
}

/* COLORS FOR IMAGES ON FRONTPAGE */
/* line 78, ../sass/custom.scss */
.blue {
  color: LightBlue;
}

/* line 81, ../sass/custom.scss */
.green {
  color: LightGreen;
}

/* line 84, ../sass/custom.scss */
.yellow {
  color: yellow;
}

/* line 87, ../sass/custom.scss */
.white {
  color: white;
}

/* line 90, ../sass/custom.scss */
.orangeRed {
  color: OrangeRed;
}

/* line 93, ../sass/custom.scss */
.violet {
  color: violet;
}

/* Responsive Einbindung von Google-Maps gemäss http://blog.kulturbanause.de/2012/10/google-maps-im-responsive-webdesign/ */
/* line 98, ../sass/custom.scss */
.responsiveContainer {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}

/* line 105, ../sass/custom.scss */
.responsiveContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
